body > header {
    background: $navbar-default-bg;
    color: $navbar-default-color;
    .open > a:focus {
    @include outline-focus();
  }

  .language-selector {
    text-transform: capitalize;

    .btn-default {
        text-transform: capitalize;
        @include form-controls-style();
        padding: $padding-base-horizontal 15px;

      i.fa-language {
        margin-right: $padding-large-vertical !important;
      }

      .dropdown-menu {
        z-index: $zindex-dropdown;
      }
    }
  }

  .form-control,
  button[type='submit'] {
    height: $navbar-height;
    @include form-controls-style();

    &:focus {
      @include outline-focus();
    }
  }

  // Add focus status removed by Bootstrap
  .dropdown-toggle:focus {
    @include outline-focus();
  }
}

//Accessibilty links to navigation
.skip-links a {
  color: $navbar-default-link-color;
  background: $navbar-default-bg;
}
