
body > header {
  background: $brand-primary;
  color: $navbar-default-bg;
  font-family: $font-family-base;
  font-size: $font-size-default;

  .site-header {
    .language-selector {
      text-transform: capitalize;
      .btn-default {
        text-transform: capitalize;
        @include form-controls-style();
      }

      i.fa-language {
        margin-right: 10px;
      }
    }

    .input-group {
      .form-control,
      button[type='submit'] {
        @include form-controls-style();

        &:focus {
          @include outline-focus();
        }
      }
    }
    input {
      height: 50px;
    }
  }

  // Add focus status removed by Bootstrap
  .dropdown-toggle:focus {
    @include outline-focus();
  }

  // Main navigation
  .main-nav {
    background: $brand-primary;
    color: $navbar-default-bg;

    .navbar {
      border-bottom: 1px solid $navbar-submenu-border-color;
      background: transparent;

      .navbar-collapse {
        position: relative;
        top: 5px;
        z-index: 10;
      }

      li.nav__item {
        border-bottom: 4px solid $navbar-link-hover-bg;

        a {
          color: $navbar-link-color;
          margin-bottom: -4px;
          border-bottom: 4px solid $navbar-link-hover-bg;

          &:focus, &:hover {
            background: $navbar-default-link-hover-bg;
            border-bottom-color: $navbar-link-active-color;
          }
        }

        &.dropdown {
          a {
            border-bottom: 0;
          }

          a:hover, a:focus {
            color: $navbar-link-color;
            background: $navbar-link-active-color;
          }

          &.active {
            padding-bottom: 4px;
            border-color: $navbar-link-active-color;
          }

          &.open {
            a, button {
              background: transparent;
            }
            li > a {
              color: $navbar-submenu-link-color;
            }
          }

          &.active.open {
            .dropdown-menu {
              margin-top: -1px!important;
            }
          }
        }
      }

      .active {
        a, a:hover {
          color: $navbar-link-color;
          background-color: $navbar-link-active-color;
        }

        .navbar__touch-caret {
          padding: 14px 15px 14px 8px;
          background: $navbar-link-active-color;
        }
      }
    }

    .dropdown-menu {
      margin-top: 4px!important;

      li.active a {
        background: $navbar-link-active-color!important;
        color: $navbar-link-color!important;
      }
    }
  }

  //Accessibilty links to navigation
  .skip-links {
    a {
      color: $navbar-link-color;

      &:focus, &:active {
        background: $brand-secondary;
        position: absolute;
      }
    }
  }
}
