.sidebar-header {
  border-bottom: 1px solid $gray;
  padding-bottom: 8px;
  margin-top: 4px;
}

.sidebar-nav a {
  padding: $padding-base-vertical 0;
  display: block;
  text-decoration: underline;
}
