.element-holder {
  box-sizing: border-box;

  .banner-element__image--watea {
    min-height: 20rem;
    max-height: 40rem;
  }

  .banner-element__content--watea {
    background-color: rgba(0, 0, 0, 0.5);
    color: $white;
    height: 100%;
    padding: 2rem;
    left: 0;
    top: 0;
    width: 100%;

    @include media-breakpoint-up(sm) {
      width: 60%;
    }
  }

  .banner-element__title--watea {
    color: $white;
  }
}
