.footer-site {
  margin-top: 0;
  background-color: $theme-bg;
  @include theme-color("footer", "background-color");
  padding: 4.5rem 0 3.5rem;

  // Horizontal divder line
  hr {
    border-top: 1px solid $theme-bg-lighter;
    @include theme-contrast-color("footer", "border-color");
    margin-bottom: $line-height-computed * 1.5;
    opacity: 0.2;

    @include media-breakpoint-up(md) {
      border-color: transparent;
      margin: 3.5rem 0 3.2rem;
    }
  }

  a:hover,
  p {
    color: $navbar-dark-color;
  }
}

// NZ Gov logo
.footer-govt-logo a {
  position: relative;
  display: inline-block;
  margin-bottom: 2.4rem;

  @include media-breakpoint-up(lg) {
    margin: 0;
  }
}

// Footer navigation and Copyright
.footer-nav-links a {
  @include theme-contrast-color('footer', 'color');
  margin-right: $line-height-computed;
}

// Social media icons
.footer-social-links .fa {
  font-size: 2.2rem;
  margin-bottom: $line-height-computed;

  @include media-breakpoint-up(lg) {
    margin-bottom: 0;
  }
}

// Secondary branding logo (defaults to CWP logo)
.footer-brand-secondary {
  &::after {
    content: "";
    width: 0;
    height: calc(100% + 12px);
    position: absolute;
    border-left: 1px solid $theme-bg-lighter;
    @include theme-contrast-color("footer", "border-color");
    right: 10px;
    top: -6px;
    opacity: 0.2;
  }

  img {
    margin-right: $line-height-computed * 1.1;
    max-height: $line-height-computed * 6;
    max-width: $line-height-computed * 10;
    width: auto;
  }
}

