// Formfields
.control-label {
  font-weight: $headings-font-weight;
}

.help-block {
  color: $text-muted;
}

// Add focus status removed by Bootstrap
.dropdown-toggle:focus {
  @include outline-focus();
}

.btn-lg {
  font-size: $font-size-base;
}
