// Header can also be inside articles or sections so limit to site header
body > header {
  background: $theme-bg;
  color: $navbar-dark-color;
}

.header {
  @include theme-color("header", "background-color");
}

.site-header {
  @include theme-contrast-color("header", "color");

  a {
    @include theme-contrast-color("header", "color");
  }

  // Language selector
  .language-selector {
    display: inline-block;
    margin-right: 0;
    position: relative;
    right: 1rem;
    text-transform: capitalize;
    top: 0;

    @include media-breakpoint-up(sm) {
      margin-right: 0.5rem;
    }

    &__dropdown {
      z-index: $zindex-modal-backdrop;
    }

    .btn.dropdown-toggle {
      display: inline-flex;
      justify-content: center;
      @include form-controls-style();
      text-transform: capitalize;
      padding: $btn-padding-x 0.5rem;

      @include media-breakpoint-up(sm) {
        display: inline-block;
        padding: $input-btn-padding-y-lg 1.5rem;
      }
    }

    .fa.fa-language {
      margin-right: 0.8rem;
    }

    .dropdown-toggle::after {
      border: 0;
      margin: 0;
      visibility: hidden;
    }

    .dropdown-toggle:focus,
    &.open .dropdown-toggle {
      @include form-controls-style();
      box-shadow: none;
    }

    .dropdown-menu {
      border-color: $gray-500;
      margin-top: 0;

      // Show focus on all links (override BS)
      > .active > a:focus {
        @include outline-focus();
      }

      > li > a {
        color: $gray-900;

        &:hover {
          background-color: $table-hover-bg;
        }
      }
    }
  }
}

// These must be separate to work
.site-header-search .form-control::-webkit-input-placeholder {
  color: $navbar-dark-active-color;
  @include theme-contrast-color("header", "color");
}

.site-header-search .form-control:-moz-placeholder {
  color: $navbar-dark-active-color;
  @include theme-contrast-color("header", "color");
}

.site-header-search .form-control::-moz-placeholder {
  color: $navbar-dark-active-color;
  @include theme-contrast-color("header", "color");
}

.site-header-search .form-control:-ms-input-placeholder {
  color: $navbar-dark-active-color;
  @include theme-contrast-color("header", "color");
}

// Main site header search
.site-header-search {
  .form-control,
  button[type="submit"] {
    @include form-controls-style();
    border: 1px solid rgba(255, 255, 255, 0.5);

    // Special case for white/light-grey theme
    body.theme-header-white &,
    body.theme-header-light-grey & {
      background: $input-bg;
      border-color: $input-border-color;
    }

    &:focus {
      @include outline-focus();
    }
  }

  // Remove default BS border overlap
  .input-group-append {
    margin-left: 0;
  }

  .form-control {
    box-shadow: none;
    padding: $input-btn-padding-y-lg $input-btn-padding-x-lg;
    height: auto;
    border-right: 0;
  }

  // Search button hover
  .btn[type="submit"] {
    padding: $input-btn-padding-y-lg $input-btn-padding-x-lg;
    border-left: 0;

    &:active:hover,
    &:active:focus,
    &:active,
    &:focus,
    &:hover {
      background-color: $primary;
      color: color-yiq($primary);
      border-color: $primary;
      @include theme-color("accent", "background-color");
      @include theme-color("accent", "border-color");
    }
  }
}

// Branding dimension restrictions
.site-header-brand img {
  max-height: $line-height-computed * 6;
  max-width: $line-height-computed * 10;
  width: auto;
}

// Accessibilty links to navigation
.skip-links a {
  color: $navbar-dark-color;
  background: $theme-bg;
  @include theme-color("header", "background-color");
}

// Mobile only
// Site header
@include media-breakpoint-down(md) {
  .site-header {
    .site-header-brand {
      max-width: 19rem;
      font-size: 1em;
    }
  }
}
