// Header can also be inside articles or sections so limit to site header
body > header {
  background: $navbar-default-bg;
  color: $navbar-default-color;
}

.header {
  @include theme-color("header", "background-color");
}

.site-header {
  @include theme-contrast-color("header", "color");

  a {
    @include theme-contrast-color("header", "color");
  }
}

// Language selector
.language-selector {
  text-transform: capitalize;

  .btn.dropdown-toggle {
    @include form-controls-style();
    text-transform: capitalize;
    padding: $padding-base-horizontal 15px;
  }

  .dropdown-toggle:focus,
  &.open .dropdown-toggle {
    @include form-controls-style();
    box-shadow: none;
  }

  .dropdown-menu {
    border-color: rgba($gray-base, .4);
    margin-top: 0;

    // Show focus on all links (override BS)
    > .active > a:focus {
      @include outline-focus();
    }

    > li > a {
      color: $gray-dark;
    }
  }
}

// These must be separate to work
.site-header-search .form-control::-webkit-input-placeholder {
  color: $navbar-default-link-active-color;
  @include theme-contrast-color("header", "color");
}

.site-header-search .form-control:-moz-placeholder {
  color: $navbar-default-link-active-color;
  @include theme-contrast-color("header", "color");
}

.site-header-search .form-control::-moz-placeholder {
  color: $navbar-default-link-active-color;
  @include theme-contrast-color("header", "color");
}

.site-header-search .form-control:-ms-input-placeholder {
  color: $navbar-default-link-active-color;
  @include theme-contrast-color("header", "color");
}

// Main site header search
.site-header-search {
  .form-control,
  button[type="submit"] {
    height: $navbar-height;
    @include form-controls-style();
    border: 1px solid rgba($input-bg, .4);

    // Special case for white/light-grey theme
    body.theme-header-white &,
    body.theme-header-light-grey & {
      background: $input-bg;
      border-color: rgba($gray, .4);
    }

    &:focus {
      @include outline-focus();
    }
  }

  .form-control {
    box-shadow: none;
    padding: $padding-large-vertical $padding-large-horizontal;
    height: ($line-height-computed + ($padding-large-vertical * 2) + 2);
    border-right: 0;
  }

  // Search button hover
  .btn[type="submit"] {
    padding: $padding-large-vertical $padding-large-horizontal;
    border-left: 0;

    &:active:hover,
    &:active:focus,
    &:active,
    &:focus,
    &:hover {
      background-color: $brand-primary;
      color: $btn-primary-color;
      border-color: $brand-primary;
      @include theme-color("accent", "background-color");
      @include theme-color("accent", "border-color");
    }
  }
}

// Branding dimension restrictions
.site-header-brand img {
  max-height: $line-height-computed * 6;
  max-width: $line-height-computed * 10;
  width: auto;
}

// Accessibilty links to navigation
.skip-links a {
  color: $navbar-default-link-color;
  background: $navbar-default-bg;
  @include theme-color("header", "background-color");
}

// Mobile only
// Site header
@media (max-width: $grid-float-breakpoint-max) {
  .site-header {
    min-height: 111px;

    .site-header-brand {
      margin-right: $line-height-computed * 5.5;
      font-size: 1em;
    }

    .navbar-toggle,
    .language-selector {
      position: absolute;
      top: $line-height-computed * 1.2;
    }

    .navbar-toggle {
      right: $line-height-computed * 0.6;
      padding: 17px 10px;
    }

    .language-selector {
      right: $line-height-computed * 2.8;
    }
  }
}
