// Main navigation
.navbar-dark {
  @include theme-color("nav", "background-color");

  .navbar-nav .nav-link {
    color: $gray-400;

    &:hover {
      color: $white;
    }
  }

  .btn-link {
    @include theme-contrast-color("nav", "color");
  }

  .navbar-toggler {
    border: 0;
  }

  // Special case for white/light-grey theme
  .navbar-toggler-icon {
    body.theme-header-white &,
    body.theme-header-light-grey & {
      background: $navbar-light-toggler-icon-bg;
    }
  }
}

.main-nav {
  .navbar {
    z-index: $zindex-fixed;
    border-bottom: 0;
    padding-top: 0;

    // Special case for white/light-grey theme
    body.theme-nav-white &,
    body.theme-nav-light-grey & {
      border-bottom: 1px solid $gray-300;
    }
  }

  .navbar-nav > li > a {
    @include theme-contrast-color("nav", "color");

    &:hover {
      @include theme-contrast-color("nav", "color", $gray-400);
    }
  }

  .nav-item.current > a {
    background-color: $primary;
    @include theme-color("accent", "background-color");
    @include theme-contrast-color("accent", "color");

    &:focus,
    &:hover {
      background-color: $primary;
      @include theme-color("accent", "background-color");
      @include theme-contrast-color("accent", "color");
      color: $white;
    }
  }

  // Change caret icon for dropdown to .fa-angle-down
  .fa-caret-down:before {
    content: "\F107";
  }

  // Change caret icon for active dropdown to .fa-angle-up
  .fa-caret-up:before {
    content: "\F106";
  }

  .dropdown {
    &:hover .navbar-touch-caret,
    &:focus .navbar-touch-caret {
      background-color: transparent;
    }

    // When active
    &.current {
      .navbar-touch-caret,
      &:hover .navbar-touch-caret,
      &:focus .navbar-touch-caret {
        background: $primary;
        @include theme-color("accent", "background-color");
        @include theme-contrast-color("accent", "color");

        &:hover,
        &:focus {
          background-color: $primary;
          @include theme-color("accent", "background-color");
        }
      }
    }
  }

  .dropdown-menu {
    .dropdown-item {
      padding: $nav-link-padding-y $navbar-padding-x * 2.5;

      &:hover,
      &:active,
      &:focus {
        background-color: transparent;
      }
    }
  }

  // Desktop
  @include media-breakpoint-up(md) {
    .dropdown-menu {
      .dropdown-item {
        padding: $nav-link-padding-y $navbar-padding-x;
      }
    }
  }

  .active {
    // Top level links with sub-menus underneath them
    .dropdown-item,
    .dropdown-item:hover,
    .dropdown-item:focus,
    .dropdown-item:active {
      background-color: transparent;
    }

    // Specific active links in a sub-menu
    > .dropdown-item,
    > .dropdown-item:hover,
    > .dropdown-item:active,
    > .dropdown-item:focus {
      background-color: $primary;
    }
  }

  // Mobile only
  @include media-breakpoint-down(sm) {
    .navbar-nav {
      margin: 0;
    }

    .navbar-collapse {
      box-shadow: none;
    }

    .search-container {
      border-top: 1px solid rgba(255, 255, 255, .5);
      border-bottom: 1px solid rgba(255, 255, 255, .5);

      // Special case for white/light-grey theme
      body.theme-header-white &,
      body.theme-header-light-grey & {
        border-top: 1px solid $gray-400;
        border-bottom: 1px solid $gray-400;
      }
    }

    .navbar {
      .form-inline {
        @include theme-color("header", "background-color");
        margin-top: 0;
        padding: 1rem 0;

        // Special case for white/light-grey theme
        body.theme-header-white &,
        body.theme-header-light-grey & {
          border-color: $gray-300;
        }
      }
    }

    // Add hover border to left side
    .nav-item > a,
    .dropdown-menu a {
      position: relative;

      &:before {
        transition: background-color 300ms ease-out;
        width: $nav-hover-border-width;
        content: "";
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
      }

      &:hover:before,
      &:focus:before {
        background: $primary;
        @include theme-color("accent", "background-color");
      }
    }

    // Dropdown
    .dropdown {
      // Change caret direction pointing up
      &.show .navbar-touch-caret .fa-caret-down:before {
        content: "\f106";
      }

      .navbar-touch-caret {
        padding-left: $input-padding-x-lg;
      }

      .dropdown-menu {
        padding: 0;
        @include theme-color("nav", "background-color");
      }
    }

    .show .dropdown-menu {
      > li {
        padding: 0;
      }

      > li > a {
        color: color-yiq($theme-bg-lighter);
        display: block;

        @include theme-contrast-color("nav", "color");

        &:active,
        &:focus,
        &:hover {
          @include theme-contrast-color("nav", "color");
        }
      }

      .active > li > a,
      .active > li > a:active,
      .active > li > a:hover,
      .active > li > a:focus {
        @include theme-color("accent", "background-color");
      }
    }
  }

  // Desktop only
  @include media-breakpoint-up(md) {
    // 1st level
    .nav-item {
      > .section {
        border-bottom: $nav-hover-border-width solid transparent;
      }

      > .link {
        border-bottom: $nav-hover-border-width solid transparent;
        transition: border-color 300ms ease-out;

        &:focus,
        &:hover {
          border-bottom-color: $primary;
          @include theme-color("accent", "border-bottom-color");
        }
      }

      > .current {
        border-bottom: $nav-hover-border-width solid $primary;
        @include theme-color("accent", "border-bottom-color");

        &:focus,
        &:hover {
          border-bottom-color: $primary;
          @include theme-color("accent", "border-bottom-color");
        }
      }

      // hide nav item border bottom with dropdown
      &.dropdown > a.link {
        &:focus,
        &:hover {
          border-bottom-color: transparent;
        }
      }

      > .dropdown-menu {
        margin-top: (-$nav-hover-border-width - 1px);
        margin-left: -1px;
        border-radius: 0;
        min-width: 160px;
      }

      .dropdown-menu > .active > a {
        color: $navbar-dark-active-color;
        @include theme-color("accent", "background-color");

      }
    }

    // Requires further nesting
    .navbar-nav > .nav-item {
      margin-bottom: -$nav-hover-border-width;
    }

    // 1st level with dropdown
    .dropdown {
      > .link {
        &:focus,
        &:hover {
          border-bottom-color: transparent;
        }
      }

      &.current .navbar-touch-caret {
        border-bottom: $nav-hover-border-width solid $primary;
        @include theme-color("accent", "border-bottom-color");
      }
    }
  }
}

.dropdown-item {
  // Extra specificity to override header link colour set by the theme colour picker
  body .site-header .dropdown & {
    color: inherit;
  }

  &.active,
  &:active {
    @include theme-color("accent", "background-color");
    @include theme-contrast-color("accent", "color");
  }
}

.nav-pills {
  // Active state
  > li.active > a {
    &,
    &:hover,
    &:focus {
      @include theme-color("accent", "background-color");
    }
  }
}

.badge-primary {
  @include theme-color("accent", "background-color");
  @include theme-contrast-color("accent", "color");

  &:hover,
  &:focus {
    @include theme-color("accent", "background-color", "darken", 10%);
  }
}

// Desktop only: add menu item hover colour for sub-navigations
@include media-breakpoint-up(md) {
  .navbar-nav {
    .dropdown-menu {
      .dropdown-item {
        &:hover,
        &:focus,
        &:active {
          background-color: $gray-100;
        }
      }
    }
  }
}
