// Main navigation
@media (max-width: $grid-float-breakpoint-max) {
  .navbar-toggle {
    padding: $padding-large-vertical $padding-base-horizontal;
    margin-right: 0;

    .icon-bar {
      @include theme-contrast-color("header", "background-color");
    }
  }
}

.navbar-default {
  @include theme-color("nav", "background-color");

  .btn-link {
    @include theme-contrast-color("nav", "color");
  }
}

// Override BS default behavior
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover {
  background-color: transparent;
  @include theme-contrast-color("nav", "color");
}

.main-nav {
  .navbar {
    z-index: $zindex-navbar;

    // Special case for white/light-grey theme
    body.theme-nav-white &,
    body.theme-nav-light-grey & {
      border-bottom: 1px solid $navbar-inverse-border-color;
    }
  }

  .navbar-nav > li > a {
    @include theme-contrast-color("nav", "color");
  }

  .nav-item.current > a {
    background-color: $brand-primary;
    @include theme-color("accent", "background-color");
    @include theme-contrast-color("accent", "color");

    &:focus,
    &:hover {
      background-color: $brand-primary;
      @include theme-color("accent", "background-color");
      @include theme-contrast-color("accent", "color");
    }
  }

  // Change caret icon for dropdown to .fa-angle-down
  .fa-caret-down:before {
    content: "\F107";
  }

  // Change caret icon for active dropdown to .fa-angle-up
  .fa-caret-up:before {
    content: "\F106";
  }

  .dropdown {
    &:hover .navbar-touch-caret,
    &:focus .navbar-touch-caret {
      background-color: transparent;
    }

    // When active
    &.current {
      .navbar-touch-caret,
      &:hover .navbar-touch-caret,
      &:focus .navbar-touch-caret {
        background: $brand-primary;
        @include theme-color("accent", "background-color");
        @include theme-contrast-color("accent", "color");

        &:hover,
        &:focus {
          background-color: $brand-primary;
          @include theme-color("accent", "background-color");
        }
      }
    }
  }

  // Mobile only
  @media (max-width: $grid-float-breakpoint-max) {
    .navbar-nav {
      margin-top: 0;
      margin-bottom: 0;
    }

    .navbar-collapse {
      box-shadow: none;
    }

    .navbar-form {
      @include theme-color("header", "background-color");
      margin-top: 0;
      border-top: 1px solid $navbar-border-color;
      border-color: $navbar-border-color;

      // Special case for white/light-grey theme
      body.theme-header-white &,
      body.theme-header-light-grey & {
        border-color: $navbar-inverse-border-color;
      }
    }

    // Add hover border to left side
    .nav-item > a,
    .dropdown-menu a {
      position: relative;

      &:before {
        transition: background-color 300ms ease-out;
        width: $nav-hover-border-width;
        content: "";
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
      }

      &:hover:before,
      &:focus:before {
        background: $brand-primary;
        @include theme-color("accent", "background-color");
      }
    }

    // Dropdown
    .dropdown {
      // Change caret direction pointing up
      &.open .navbar-touch-caret .fa-caret-down:before {
        content: "\f106";
      }

      .navbar-touch-caret {
        padding-left: $navbar-padding-horizontal;
      }

      .dropdown-menu {
        padding: 0;
        // Requires nesting
        background-color: $theme-bg-lighter;
        @include theme-color("nav", "background-color");
      }
    }

    .open .dropdown-menu {
      > li > a {
        padding: 10px 15px 10px 35px;
        @include theme-contrast-color("nav", "color");

        &:hover {
          @include theme-contrast-color("nav", "color");
        }
      }

      .active > a,
      .active > a:hover,
      .active > a:focus {
        @include theme-color("accent", "background-color");
      }
    }
  }

  // Desktop only
  @media (min-width: $grid-float-breakpoint-max) {

    .nav-item > a {
      padding-top: $navbar-padding-vertical;
      padding-bottom: $navbar-padding-vertical;
    }

    // 1st level
    .nav-item {
      > .section {
        border-bottom: $nav-hover-border-width solid $navbar-default-brand-hover-bg;
      }

      > .link {
        border-bottom: $nav-hover-border-width solid $navbar-default-brand-hover-bg;
        transition: border-color 300ms ease-out;

        &:focus,
        &:hover {
          border-bottom-color: $brand-primary;
          @include theme-color("accent", "border-bottom-color");
        }
      }

      > .current {
        border-bottom: $nav-hover-border-width solid $brand-primary;
        @include theme-color("accent", "border-bottom-color");

        &:focus,
        &:hover {
          border-bottom-color: $brand-primary;
          @include theme-color("accent", "border-bottom-color");
        }
      }

      // hide nav item border bottom with dropdown
      &.dropdown > a.link {
        &:focus,
        &:hover {
          border-bottom-color: $navbar-default-brand-hover-bg;
        }
      }

      > .dropdown-menu {
        margin-top: (-$nav-hover-border-width - 1px);
        margin-left: -1px;
      }

      .dropdown-menu > li > a {
        color: $text-color;
      }

      .dropdown-menu > .active > a {
        color: $navbar-default-link-active-color;
        @include theme-color("accent", "background-color");
      }
    }

    // Requires further nesting
    .navbar-nav > .nav-item {
      margin-bottom: -$nav-hover-border-width;
    }

    // 1st level with dropdown
    .dropdown {
      // Allow space for caret
      padding-right: $navbar-padding-horizontal + 6px; // 6px approx half width of icon

      > .link {
        &:focus,
        &:hover {
          border-bottom-color: $navbar-default-brand-hover-bg;
        }
      }

      &.current .navbar-touch-caret {
        border-bottom: $nav-hover-border-width solid $brand-primary;
        @include theme-color("accent", "border-bottom-color");
      }
    }
  }
}

.nav-pills {
  // Active state
  > li.active > a {
    &,
    &:hover,
    &:focus {
      color: $nav-pills-active-link-hover-color;
      @include theme-color("accent", "background-color");
    }
  }
}
