@import "./theme-styles";

// Styles for header, search and language selector
@mixin form-controls-style() {
  background: transparent;
  border: 0;
  color: $btn-primary-color;
  @include theme-contrast-color("header", "color");
}

@mixin customUnderline($underline-color) {
  text-decoration: none;
  background: linear-gradient($underline-color, $underline-color),
  linear-gradient($underline-color, $underline-color), linear-gradient($underline-color, $underline-color);
  // Second value of each is width of line
  background-size: .05em 1px, .05em 1px, 1px 1px;
  background-repeat: no-repeat, no-repeat, repeat-x;
  background-position: 0% 93%, 100% 93%, 0% 93%;

  @media screen and (-webkit-min-device-pixel-ratio: 0) {
    background-position-y: 87%, 87%, 87%;
  }

  &:before,
  &:after,
  *,
  *:before,
  *:after {
    text-shadow: none;
  }
}
