// Define agency specific variables
// Bootstrap overrides
//
// Copy variables from `node_modules/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss` 
// to this file to override default values without modifying source files.

// BreadCrumbs
$gray-base: #000 !default;
$gray-light: lighten($gray-base, 46.4%); // #767676 (edited)

$breadcrumb-padding-horizontal: 0;

// Breadcrumb background color
$breadcrumb-bg: #fff;

// Text color of current page in the breadcrumb
$breadcrumb-active-color: $gray-light;

$fa-font-path: "/themes/new-theme/dist/fonts/";
$icon-font-path: "/themes/new-theme/dist/fonts/";

// Success label background color
$label-success-bg: #008A00;

// Global textual link color
$link-color: #0F7EB2;

// Link hover color set via `darken()` function
$link-hover-color: darken($link-color, 5%);

// Text muted color
$text-muted: #767676;

// Basics of a navbar
$navbar-border-radius: 0;

// Navbar links
$navbar-default-link-color: #767676;

// Navbar background color
$navbar-default-bg: #fff;
